<div class="input-container">
  <div class="col-md-12 label">
    <mat-label>User name: </mat-label>
    <mat-label>{{user.name}}</mat-label>
  </div>
  <div class="col-md-12 label">
    <mat-label>Email: </mat-label>
    <mat-label>{{user.email}}</mat-label>
  </div>
  <div class="col-md-12 label">
    <mat-label>Address:  </mat-label>
    <mat-label>{{user.address}}</mat-label>
  </div>
  <div class="col-md-12 label">
    <mat-label>Birthday: </mat-label>
    <mat-label>{{user.birthday | date}}</mat-label>
  </div>
</div>

